* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: 700; */
}

.music {
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.music__player {
    background-color: #ffe0e5;
    width: 400px;
    padding: 25px 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.nav .circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #f53192;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

.song__img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.name__song {
    font-size: 20px;
    font-weight: 800;
    color: #333;
    margin-top: 20px;
}


.name__singer {
    font-size: 14px;
    color: #333;
}

.progress {
    -webkit--appearance: none;
    width: 100%;
    height: 6px;
    background: #f53192;
    border-radius: 4px;
    margin: 40px 0;
    cursor: pointer;
}

.sprogress::-webkit-slider-thumb {
    -webkit--appearance: none;
    background: #f53192;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.controls div {
    width: 50px;
    height: 50px;
    margin: 20px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #f53192;
    cursor: pointer;
}

.controls div:nth-child(2) {
    transform: scale(1.5);
    background: #f53192;
    color: #fff;
}